@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');



body{
    margin:2% 5%;
}

.flex-container a{
    border: 3px solid #3b94;
    color:#616161;
    padding:0% 5%;
}
.flex-container {
    display:flex;
    margin:0% 21%;

  }
  
  .flex-container > div {
    color:white;
    margin: 10px;
    text-align: center; 
    font-family: 'Texturina', serif;
    font-size: 1.5vw;
  }

  h2{
      text-align: center;
      font-size: 2vw;
  }

  p{
    font-size: 1.3vw;
  }


.article{
    border-radius: 3px;
    opacity: 1;
    color:#616161;
    font-family: 'Texturina', serif;
    text-align: justify;
    box-shadow:  #3b94 0px 54px 55px,  #3b94 0px -12px 30px,  #3b94 0px 4px 6px,  #3b94 0px 12px 13px, #3b94 0px -3px 5px;
    width:50%;
    margin:auto;
    margin-top: 3%;
    padding: 25px 40px;
    box-sizing: border-box;
}

.article a{
    color: #474747;
}

.highlight{
    transition: all 0.2s;
    position: absolute;
    top:0;
    background-color:#3b94;
    left:0;
    z-index:-1;
    display:block;
    box-shadow: 0 0 10px #3b94;;
}


a{
    text-decoration: none;
}