@import url('https://fonts.googleapis.com/css2?family=Texturina:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


body{
    margin:2% 5%;
}

.flex-container a{
    color:white;
    padding:0% 5%;
    font-size: 900;
}
.flex-container {
    display:flex;
    margin:0% 21%;

  }
  
  .flex-container > div {
    color:white;
    margin: 10px;
    text-align: center; 
    font-family: 'Texturina', serif;
    font-size: 1.5vw;
  }

  h2{
      text-align: center;
      font-size: 2vw;
  }

  p{
    font-size: 1.3vw;
  }


.article{
    background-color:rgba(0,0,0,.5);
    border-radius: 3px;
    color: white;
    font-family: 'Texturina', serif;
    text-align: justify;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:50%;
    margin:auto;
    margin-top: 3%;
    padding: 25px 40px;
    box-sizing: border-box;
}

.article a{
    color:white;
}

.highlight{
    transition: all 0.2s;
    position: absolute;
    top:0;
    background-color:#7dc383;
    left:0;
    z-index:-1;
    display:block;
    box-shadow: 0 0 10px #7dc383;
}


a{
    text-decoration: none;
}